<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- google icons -->
    <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
    <!-- jQuery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <style>
        .box {
            width: 35px;
            height: 35px;
            border-radius: 70%;
            overflow: hidden;
            object-fit: contain;
        }
        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .feed_box{
            margin: 20px 0;
            border: solid 1px gray;
            background-color: white;
        }

        .modal_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 45%;
        height: 65%;
        position: relative;
        padding: 10px;
        justify-content: center;
        align-items: center;
        }
        
        .modal_write_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_write_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 45%;
        height: 65%;
        position: relative;
        padding: 10px;
        justify-content: center;
        align-items: center;
        }
        
    </style>
</head>
<body>
    <nav style="position: fixed; width: 100%; z-index: 1;"class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="flex-wrap: nowrap; min-width: 1000px">
          <a class="navbar-brand" href="#"><img style="width: 100px"
            src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png"></a>
              <input style="width: 400px" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <div>
                <span class="material-icons">home</span>
                <span class="material-icons-outlined">send</span>
                <span id="nav_bar_add_box" class="material-icons-outlined">add_box</span>
                <span class="material-icons-outlined">explore</span>
                <span class="material-icons-outlined">favorite_border</span>
              </div>
        </div>
      </nav>
    <div style="display: flex; flex-direction: row; text-align: center; justify-content: center; padding-top: 60px">
        <div style="width: 30rem; height: 1000px; background-color:#FAFAFA;position:absolute;right:38%; z-index: 0;">
            <div style="background-color: white;">
                <div>
                    {% for feed in feeds %}
                    <div class="feed_box">
                        <div style="display: flex; flex-direction: row; align-items: center; margin-left: 16px;">
                            <div class="box" style="background: grey; margin:10px 0;">
                                <img class="profile" src="{{ feed.profile_image }}">
                            </div>
                            <div>
                                <div style="font-weight: bold; margin-left: 8px; font-size: 12px;">
                                    {{ feed.user_id }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <img style="width: 100%;" src="{% get_media_prefix %}{{ feed.image }}">
                        </div>
                        <div style="margin:15px 10px 0px 16px; display: flex; flex-direction: row; justify-content: space-between;">
                            <div>
                                <span class="material-icons-outlined">favorite_border</span>
                                <span class="material-icons-round">chat_bubble</span>
                                <span class="material-icons-round">send</span>
                            </div>
                            <div>
                                <span class="material-icons-round">bookmark_border</span>                            
                            </div>
                        </div>
                        <div style="margin:0 20px; text-align: left; font-size: 14px;"> 춘식이 <b>외 {{ feed.like_count }}명</b>이 좋아합니다. </div>
                        <div style="margin:0 20px; text-align: left; font-size: 16px;"> <b>{{ feed.user_id }}</b> {{ feed.content }}</div>
                        <div style="margin:0 20px; text-align: left; font-size: 13px;"> <b>aaa111</b> 제주도 </div>
                        <div style="margin:0 20px; text-align: left; font-size: 13px;"> <b>bbb111</b> 제주도 2 </div>
                        <div style="margin:0 20px; text-align: left; font-size: 13px;"> <b>ccc111</b> 제주도 3 </div>
                        <div style="border-top: solid grey 1px">
                            <input type="text" class="form-control" style="box-shadow: none; border:none; outline: none;" id="exampleFormControlInput1" placeholder="댓글달기">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="width: 400px; height: 1000px; position: fixed;left: 62%">
            <div style="display: flex; flex-direction: row; align-items: center; margin-left: 30px; margin-top: 15px">
                <div class="box" style="background: grey; width: 60px; height: 60px; ">
                    <img class="profile" src="https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg">
                </div>
                <div style="margin-left: 10px; text-align: left; font-size: 12px;">
                    <div style="font-weight: bold;">
                        gunwoo_
                    </div>
                    <div style="color: grey;">
                        KimGunWoo
                    </div>
                </div>
            </div>
            <div style="display: flex;flex-direction: row; justify-content: space-between; margin-left: 16px; margin-top: 10px;">                <div style="font-size: 16px; color: grey"> 회원님을 위한 추천 </div>
                <div>
                    <a href="#" style="color: black;font-weight: bold; text-decoration: none;">모두보기</a>
                </div>
            </div>
            <div class="recommand_profile"style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 16px; margin-top: 8px">
                <div style="display: flex; flex-direction: row; justify-content: space-between; text-align: left;">
                    <div class="box" style="background: grey;">
                        <img class="profile" src="https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg">
                    </div>
                    <div style="margin-left: 10px; font-size: 12px;">
                        <div style="font-weight: bold;">
                            tester
                        </div>
                        <div style="color: gray">
                            test_user
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-size: 14px; text-decoration: none;"> 팔로우 </a>
                </div>
            </div>
            <div class="recommand_profile"style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 16px; margin-top: 8px">
                <div style="display: flex; flex-direction: row; justify-content: space-between; text-align: left;">
                    <div class="box" style="background: grey;">
                        <img class="profile" src="https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg">
                    </div>
                    <div style="margin-left: 10px; font-size: 12px;">
                        <div style="font-weight: bold;">
                            tester
                        </div>
                        <div style="color: gray">
                            test_user
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-size: 14px; text-decoration: none;"> 팔로우 </a>
                </div>
            </div>
            <div class="recommand_profile"style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 16px; margin-top: 8px">
                <div style="display: flex; flex-direction: row; justify-content: space-between; text-align: left;">
                    <div class="box" style="background: grey;">
                        <img class="profile" src="https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg">
                    </div>
                    <div style="margin-left: 10px; font-size: 12px;">
                        <div style="font-weight: bold;">
                            tester
                        </div>
                        <div style="color: gray">
                            test_user
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-size: 14px; text-decoration: none;"> 팔로우 </a>
                </div>
            </div>
            <div class="recommand_profile"style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 16px; margin-top: 8px">
                <div style="display: flex; flex-direction: row; justify-content: space-between; text-align: left;">
                    <div class="box" style="background: grey;">
                        <img class="profile" src="https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg">
                    </div>
                    <div style="margin-left: 10px; font-size: 12px;">
                        <div style="font-weight: bold;">
                            tester
                        </div>
                        <div style="color: gray">
                            test_user
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-size: 14px; text-decoration: none;"> 팔로우 </a>
                </div>
            </div>
            <div class="recommand_profile"style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 16px; margin-top: 8px">
                <div style="display: flex; flex-direction: row; justify-content: space-between; text-align: left;">
                    <div class="box" style="background: grey;">
                        <img class="profile" src="https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg">
                    </div>
                    <div style="margin-left: 10px; font-size: 12px;">
                        <div style="font-weight: bold;">
                            tester
                        </div>
                        <div style="color: gray">
                            test_user
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-size: 14px; text-decoration: none;"> 팔로우 </a>
                </div>
            </div>
            <div class="recommand_profile"style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 16px; margin-top: 8px">
                <div style="display: flex; flex-direction: row; justify-content: space-between; text-align: left;">
                    <div class="box" style="background: grey;">
                        <img class="profile" src="https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg">
                    </div>
                    <div style="margin-left: 10px; font-size: 12px;">
                        <div style="font-weight: bold;">
                            tester
                        </div>
                        <div style="color: gray">
                            test_user
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-size: 14px; text-decoration: none;"> 팔로우 </a>
                </div>
            </div>
            <div class="recommand_profile"style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 16px; margin-top: 8px">
                <div style="display: flex; flex-direction: row; justify-content: space-between; text-align: left;">
                    <div class="box" style="background: grey;">
                        <img class="profile" src="https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg">
                    </div>
                    <div style="margin-left: 10px; font-size: 12px;">
                        <div style="font-weight: bold;">
                            tester
                        </div>
                        <div style="color: gray">
                            test_user
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-size: 14px; text-decoration: none;"> 팔로우 </a>
                </div>
            </div>
            <div style="margin-top: 30px; font-size: 12px; color: grey; text-align: left; margin-left: 16px;"> 소개 도움말 홍보 센터 API 채용 정보 <br> 개인정보처리방침 약관 위치 인기 계정 해시태그 언어 </div>
            <div style="margin-top: 10px; font-size: 12px; color: grey; text-align: left; margin-left: 16px;"> © 2021 INSTAGRAM FROM FACEBOOK </div> 
            
        </div>
    </div>
    <!-- Image Upload Modal -->
    <div id="modal_add_box" class="modal_overlay">
        <div class="modal_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between; ">
                <div style="width: 5%">
                    &nbsp
                </div>
                <div>
                    새 이미지 업로드
                </div>
                <div>
                    <span id="close_modal" class="material-icons-outlined">close</span>
                </div>
            </div>
            <div class="img_upload_space" style="width: 100%; height: 95%; border-top: solid lightgrey 1px;">
                
            </div>
        </div>
    </div>
    <!-- Wirte Modal -->
    <div id="modal_write_box" class="modal_write_overlay">
        <div class="modal_write_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between; ">
                <div style="width: 5%">
                    &nbsp
                </div>
                <div>
                    새 게시물 만들기
                </div>
                <div>
                    <span id="close_write_modal" class="material-icons-outlined">close</span>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; height: 95%; border-top: solid lightgrey 1px; padding-top: 10px">
                <div class="modal_write_img" style="width: 50%; height: 100%;">
                    
                </div>
                <div style="width: 50%; height:100%;">
                    <div style="width: 100%; height: 100%;">
                        <textarea id="feed_content"style="width: 100%; height: 60%; resize: none;" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="글을 작성하세요."></textarea>
                        <button id="feed_create_button"style="width: 100%; margin-top: 15px"type="button" class="btn btn-primary">공유하기</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script>
        let files;
        $('#nav_bar_add_box').click(function(){
            $('#modal_add_box').css({
                display: 'flex',
            });
            $(document.body).css({
                overflow: 'hidden',
            })
        })

        $('#close_modal').click(function(){
            $('#modal_add_box').css({
                display: 'none'
            })
            $(document.body).css({
                overflow: 'visible'
            })
        })
        $('#close_write_modal').click(function(){
            $('#modal_write_box').css({
                display: 'none'
            })
            $(document.body).css({
                overflow: 'visible'
            })
        })

        $('#feed_create_button').click(function(){
            let file = files[0] 
            let image = files[0].name
            let content = $('#feed_content').val()
            let user_id = "gunwoo_"
            let profile_image = "https://image.fnnews.com/resource/media/image/2020/11/20/202011200752197268_l.jpg"

            let fd = new FormData();

            fd.append('file',file);
            fd.append('image',image);
            fd.append('content',content);
            fd.append('user_id',user_id);
            fd.append('profile_image',profile_image);
            

            $.ajax({
                url: '/content/upload',
                data: fd,
                method: "POST",
                processData: false,
                contentType: false,
                success: function (data){
                    alert('성공')
                },
                error: function (request, status, error){
                    alert('에러')
                },
                complete: function (){
                    alert('완료')
                    location.replace('/main')
                }
            })
        })

        $('.img_upload_space')
            .on("dragover", dragOver)
            .on("dragleave", dragOver)
            .on("drop", uploadFiles);
        
            function dragOver(e){
                e.stopPropagation();
                e.preventDefault();

                if (e.type == "dragover") {
                    $(e.target).css({
                        "background-color": "grey",
                        "outline-offset": "-20px"
                    });
                } else {
                    $(e.target).css({
                        "background-color": "white",
                        "outline-offset": "-10px"
                    })
                }
            }

            function uploadFiles(e){
                e.stopPropagation();
                e.preventDefault()

                e.dataTransfer = e.originalEvent.dataTransfer;
                files = e.target.files || e.dataTransfer.files;
                console.log("Test:" + files[0].name)

                if (files.length > 1) {
                    alert ('One File Only.');
                    return;
                }

                if (files[0].type.match(/image.*/)) {
                    $('.modal_write_img').css({
                        "background-image": "url("+ window.URL.createObjectURL(files[0]) + ")",
                        "outline": "none",
                        "background-size": "100%",
                        "background-position": "center",
                        "background-repeat": "no-repeat"
                    })
                    $('#modal_add_box').css({
                        display: 'none'
                    })
                    $('#modal_write_box').css({
                        display: 'flex'
                    })
                } else {
                    alert('이미지가 아닙니다.')
                    return;
                }
            }

    </script>
</body>
</html>